<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Duffy WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Duffy WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Duffy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DuffyCommon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DuffyCommonWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>DuffyFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>DuffyWatchFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09323C6C1D22C39700961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323C7E1D22C39700961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323CC81D22C96B00961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323CD91D23009400961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323CE61D23015C00961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323D021D2303BC00961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09323D131D2303DE00961822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
